.site-footer{
  font-size:0.95rem; 
  text-align: center;
}

#wrapper-footer{
  margin-top:2rem;
  background: rgba($brand-primary, 1);
  padding-top:2rem;
  padding-bottom:0.5rem;
  color:#fff;
}

.footer-brand{
  img{
    height:45px;
    margin: 0 auto; 
    opacity: 0.5;
  }
}
.footer-social{
  padding-top:0.5rem;
  padding-bottom:0.5rem;
  .footer-social__list{
    margin:0;
    padding:0;
    list-style: none;
    text-align: center;

    li{
      display:inline-block;
      text-align: center;
      a{
        font-size:1.5rem;
        color:$white;
      }
    }
  }
}
.footer-nav{
  &-ul{
    margin:0 0 1.5rem;
    padding:0;
    @media (min-width: 544px) {
      text-align: center;
      width:100%;
    }
    li{
      
      @media (min-width: 544px) {
        float:none;
        display: inline-block;
      }
      a.nav-link{
        color:#fff;
        font-family:$font-family-sans-serif;
        font-weight: 200;
        font-size:1rem;
        &:hover{
          color:#fff;
        }
      }
    }
  }
}
.site-info{
  font-family: $font-family-sans-serif;
}