.navbar-brand{
//  float:inherit;
//  margin: 1.5rem 0;
//  display: block;
  img{
    height:45px;
    margin: 3px auto; 
  }
}

.navbar{
  font-family: $font-family-sans-serif; 
  ul.navbar-nav{
    @media (min-width: 544px) {
//      text-align: center;
//      width:100%;
    }
    li{
      
      @media (min-width: 544px) {
//        float:none;
//        display: inline-block;
      }
      a.nav-link{
        color:$body-color;
        font-weight: 200;
        font-size:1.2rem;
        &:hover{
          color:$brand-primary;
        }
      }
    }
  }

  .navbar-toggle {
    border-color: $brand-primary;
  }
  .navbar-toggle .icon-bar{
    background-color: $brand-primary;
  }
}


.header-social{
  ul{
    list-style-type: none;
    li{
      
      display:inline-block;
      text-align: center;
    }
  }
}

#wrapper-index{
  min-height: 80vh;
}

.dots-bg{
  background-color: $brand-primary;
  background-image: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23ffffff' fill-opacity='0.1' fill-rule='evenodd'%3E%3Ccircle cx='3' cy='3' r='3'/%3E%3Ccircle cx='13' cy='13' r='3'/%3E%3C/g%3E%3C/svg%3E");
}
